<div class="content-area">
  <div class="container">
    
        <div class="row">
            <div class="col-md-6">
                <img src="{{ product.imageUrl }}" class="detail-img" />
                
                
            </div>
            <div class="col-md-6">
                <p id="product-details">{{ product.sku }}</p>
                <h3>{{ product.name }}</h3>
                <hr>
                <div class="detail-price">{{ product.unitPrice | currency : "R" }}</div>
                <p id="product-details">{{ product.description }}</p>
                <hr>
                <p>SKU: {{product.sku}}</p>
                <a href="#" class="primary-btn">Add to cart</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="description-tab">Description</div>
                <div id="detail-description">Description</div>
                <p id="product-details">{{ product.description }}</p>

                
                <a routerLink="/products" class="mt-5"><< Back to Product List</a>
            </div>
        </div>
   
  </div>
</div>
