<div class="main-content">
    <div class="section-content">
        <div class="container-fluid">
            <div class="row">

                <!-- product categories, search & pagination -->
                <div class="pagination">
                    
                    <div class="row">
                        <!-- product categories -->
                        <div class="col-md-3"><app-product-category-menu></app-product-category-menu></div>
                        <!-- search -->
                        <div class="col-md-6"><app-search></app-search></div>
                        <!-- pagination -->
                        <div class="col-md-3">
                            <div class="row">
                                <div id="custom-pagination" class="col-md-9" style="padding-left: 30%">
                                    <ngb-pagination [(page)]="thePageNumber"
                                                    [pageSize]="thePageSize"
                                                    [collectionSize]="theTotalElements"
                                                    (pageChange)="listProducts()">

                                    </ngb-pagination>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- loop over collection of products -->
                <div *ngFor="let tempProduct of products" class="col-md-3">

                    <div class="product-box">
                        <a routerLink="/products/{{tempProduct.id }}">
                            <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                        </a>
                        <a routerLink="/products/{{tempProduct.id }}">
                            <p>{{ tempProduct.sku }}</p>
                            <h1>{{ tempProduct.name }}</h1>
                        </a>
                        <div class="price">{{ tempProduct.unitPrice | currency: 'R'}}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>

                </div>

                <!-- if products are empty -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found.
                </div>
            </div>

            
        </div>
    </div>
</div>