<header id="site-header" class="minimal-header clr" data-height="139" itemscope="itemscope">
  <div id="site-header-inner" class="clr">

    <div id="site-logo" class="clr">
      <div id="site-logo-inner" class="clr">
        <a href="" class="custom-logo-link" rel="home" aria-current="page">
          <img src="/assets/site-logo.png" class="custom-logo" alt="Ox Technologies" decoding="async" 
          fetchpriority="high">
        </a>
      </div>
    </div>
    <!-- #site-logo -->
 

    <div id="site-navigation-wrap" class="clr">
      <nav id="site-navigation" class="navigation">
        <ul id="menu-main" class="menu-main">
          <li id="menu-item" class="menu-item">
            <a href="https://oxtechnologies.co.za/#hero" class="menu-link"><i class="fa fa-home" aria-hidden="true"></i></a>
            
          </li>
          <li id="menu-item" class="menu-item">
            <a href="https://oxtechnologies.co.za/#about" class="menu-link">Who we are</a>
          </li>
          <li id="menu-item" class="menu-item">
            <a href="https://oxtechnologies.co.za/#gallery" class="menu-link">Our Process</a>
          </li>
          <li id="menu-item" class="menu-item">
            <a href="https://oxtechnologies.co.za/#features" class="menu-link">Our Promise</a>
          </li>
          <li id="menu-item2" class="active">
            <a routerLink="/category/1" routerLinkActive="active-link" class="menu-link">Our Products</a>
          </li>
          <li id="menu-item" class="menu-item">
            <a href="/api/cart" class="menu-link"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </li>
          <li id="menu-item" class="menu-item">
            <a href="https://oxtechnologies.co.za/#contact" class="menu-link"><i class="fa fa-phone" aria-hidden="true"></i></a>
          </li>
        </ul>
      </nav>
      <!-- #site-navigation -->
        
    </div>

  </div>
</header>

<div id="main" class="site-main" role="main">
  <header class="page-header centered-page-header">
    <div id="page-header-inner">
      <h1 id="page-header-title" class="page-header-title">Yesterday's quality. Affordable today. Tomorrow's Technology.</h1>
      <div id="page-subheading" class="page-subheading">
        <p>Browse our products</p>
      </div>
    </div>
  </header>

  <div id="content-wrap" class="container">
    <div id="primary" class="content-area">
      <h1 class="mt-3 mb-3">Products</h1>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
