<div id="site-navigation-wrap" class="clr">
    <nav id="site-navigation" class="navigation">
      <ul id="menu-main" class="menu-main">
        <li id="menu-item" class="menu-item">
          <a href="https://oxtechnologies.co.za/#hero" class="menu-link"><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li id="menu-item" class="menu-item">
          <a href="https://oxtechnologies.co.za/#about" class="menu-link">Who we are</a>
        </li>
        <li id="menu-item" class="menu-item">
          <a href="https://oxtechnologies.co.za/#gallery" class="menu-link">Our Process</a>
        </li>
        <li id="menu-item" class="menu-item">
          <a href="https://oxtechnologies.co.za/#features" class="menu-link">Our Promise</a>
        </li>
        <li id="menu-item2" class="active">
          <a routerLink="/category/1" routerLinkActive="active-link" class="menu-link">Our Products</a>
        </li>
        <li id="menu-item" class="menu-item">
          <a href="/api/cart" class="menu-link"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </li>
        <li id="menu-item" class="menu-item">
          <a href="https://oxtechnologies.co.za/#contact" class="menu-link"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </li>
      </ul>
    </nav>
  </div>
